* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Paytone One", sans-serif;
}

ul,
ol {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #d9d9d9;
}
.navbar__lista {
  padding: 5px;
  padding-top: 70px;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  color: rgba(52, 58, 64, 0.7450980392);
}
.navbar__item {
  font-size: 1.4rem;
  box-shadow: 0;
}

a {
  text-decoration: none;
  color: rgba(4, 4, 4, 0.7529411765);
}

footer {
  padding-bottom: 70px;
  padding-top: 50px;
}

.umain {
  height: 100vh;
  background-image: url(../img/imgsanma.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.umain__texto {
  font-size: 3rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.614);
}
.umain__texto:hover {
  font-size: 3rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.614);
  transform: scale(1.2);
  animation-duration: 3s;
}

/* INFORMACION */
.informacion {
  background-color: #d9d9d9;
}
.informacion__title {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: bolder;
  color: #457b9d;
}
.informacion__title:hover {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: bolder;
  color: #457b9d;
  transform: scale(1.3);
  animation-duration: 3s;
}

/* imagenes */
.slider {
  padding: 15px;
  display: grid;
}
.slider__img {
  width: 130px;
  height: 130px;
  border-radius: 15px;
  box-shadow: 0px 5px 5px;
}

/* informacion escrita */
.texto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.texto__title {
  font-size: 25px;
  color: darkolivegreen;
}
.texto__title:hover {
  font-size: 25px;
  color: darkolivegreen;
  transform: scale(1.1);
  animation-duration: 3s;
}
.texto__li {
  font-size: 15px;
  padding-left: 10px;
  padding-top: 15px;
  color: #343a40;
  display: flex;
  align-items: center;
}

/* ubicacion */
.ubicacion {
  padding-top: 30px;
}
.ubicacion__title {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: bolder;
  padding: 15px;
  color: #457b9d;
}
.ubicacion__title:hover {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: bolder;
  padding: 15px;
  color: #457b9d;
  transform: scale(1.3);
  animation-duration: 3s;
}
.ubicacion__p {
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding-bottom: 15px;
  color: #343a40;
}
.ubicacion__mapa {
  width: 100%;
  height: 35vh;
  border: 0;
}

/* complejo */
.complejo {
  padding: 5px;
}
.complejo__title {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  color: #457b9d;
}
.complejo__title:hover {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  color: #457b9d;
  transform: scale(1.3);
  animation-duration: 3s;
}
.complejo__p {
  padding: 5px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #343a40;
}
.complejo__div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding-bottom: 30px;
  padding-top: 20px;
}
.complejo__img {
  width: 150px;
  height: 180px;
  border-radius: 15px;
  box-shadow: 0px 5px 5px;
}

.redes {
  padding: 10px;
}
.redes__title {
  font-size: 1.5rem;
}
.redes__iconos {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.redes__iconos:hover {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  transform: scale(1.4);
  animation-duration: 3s;
}

@media (min-width: 768px) {
  .slider__img {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    box-shadow: 0px 5px 5px;
  }
  .ubicacion__div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .ubicacion__mapa {
    padding-left: 15px;
    padding-bottom: 15px;
    width: 650px;
  }
  .complejo__div1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .complejo__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 300px;
  }
  .complejo__p {
    padding: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #343a40;
  }
  .complejo__img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
  }
}
@media (min-width: 992px) {
  .slider__img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0px 5px 5px;
  }
  .texto {
    display: flex;
    flex-direction: row;
  }
  .ubicacion__div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10px;
  }
  .ubicacion__mapa {
    padding-left: 15px;
    padding-bottom: 15px;
    width: 650px;
  }
  .complejo__div1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .complejo__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 300px;
  }
  .complejo__p {
    padding: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #343a40;
  }
  .complejo__img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
  }
}
.contacto {
  padding: 10px;
  background-color: #d9d9d9;
}
.contacto__title {
  font-size: 35px;
  padding: 10px;
  color: #457b9d;
  display: flex;
  justify-content: center;
  text-align: center;
}
.contacto__title:hover {
  font-size: 35px;
  padding: 10px;
  color: #457b9d;
  display: flex;
  justify-content: center;
  text-align: center;
  transform: scale(1.3);
  animation-duration: 3s;
}
.contacto__div-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacto__img {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  box-shadow: 0px 5px 5px;
}

.links {
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
}

/* formulario de contacto */
.formulario {
  background-color: #d9d9d9;
}
.formulario__title {
  font-size: 35px;
  padding: 10px;
  color: #457b9d;
  display: flex;
  justify-content: center;
  text-align: center;
}
.formulario__title:hover {
  font-size: 35px;
  padding: 10px;
  color: #457b9d;
  display: flex;
  justify-content: center;
  text-align: center;
  transform: scale(1.2);
  animation-duration: 3s;
}
.formulario__form {
  padding: 30px;
  color: #343a40;
}
.formulario__label {
  font-size: 20px;
  padding-bottom: 5px;
  border-radius: 20px;
}

.redes {
  padding: 10px;
}
.redes__title {
  font-size: 1.5rem;
}
.redes__iconos {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.redes__iconos:hover {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  transform: scale(1.4);
  animation-duration: 3s;
}

@media (min-width: 768px) {
  .formulario__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  .formulario__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.disponibilidad {
  background-color: #d9d9d9;
}
.disponibilidad__title {
  font-size: 25px;
  padding: 10px;
  padding-bottom: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  color: #457b9d;
}
.disponibilidad__title:hover {
  font-size: 25px;
  padding: 10px;
  padding-bottom: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
  color: #457b9d;
  transform: scale(1.2);
  animation-duration: 3s;
}
.disponibilidad__div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.disponibilidad__p {
  padding-left: 20px;
  font-size: 20px;
  color: #343a40;
}
.disponibilidad__iframe {
  width: 300px;
  height: 300px;
  border-radius: 15px;
}

/* reservas formUlario */
.reservas {
  background-color: #d9d9d9;
  padding: 10px;
  padding-bottom: 50px;
}
.reservas__title {
  font-size: 35px;
  padding-bottom: 30px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: #457b9d;
}
.reservas__title:hover {
  font-size: 35px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: #457b9d;
  transform: scale(1.2);
  animation-duration: 3s;
}
.reservas__p {
  padding-bottom: 30px;
  font-size: 20px;
  color: #343a40;
}

.article {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #343a40;
}

@media (min-width: 768px) {
  .disponibilidad__iframe {
    width: 500px;
    height: 300px;
    border-radius: 15px;
  }
  .formulario__form {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap: 10px;
  }
}
.lugares {
  background-color: #d9d9d9;
}
.lugares__title {
  font-size: 35px;
  padding: 10px;
  color: #457b9d;
}
.lugares__title:hover {
  font-size: 35px;
  padding: 10px;
  color: #457b9d;
  transform: scale(1.2);
  animation-duration: 3s;
}
.lugares__p {
  color: #343a40;
  padding: 10px;
  padding-left: 30px;
  font-size: 20px;
}
.lugares__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* casa arrayanes */
.arrayanes {
  padding: 5px;
}
.arrayanes__title {
  font-size: 20px;
  color: darkolivegreen;
  padding-left: 30px;
}
.arrayanes__title:hover {
  font-size: 20px;
  color: darkolivegreen;
  padding-left: 50px;
  transform: scale(1.2);
  animation-duration: 3s;
}
.arrayanes__div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.arrayanes__p {
  color: #343a40;
  padding-left: 10px;
}
.arrayanes__img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  padding-bottom: 10px;
}

.centro__img {
  width: 235px;
  height: 200px;
  border-radius: 15px;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .arrayanes__div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    padding-left: 50px;
  }
  .lago__div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    padding-left: 50px;
  }
  .arrayanes__title {
    font-size: 20px;
    color: darkolivegreen;
    padding-left: 30px;
  }
  .arrayanes__title:hover {
    font-size: 20px;
    color: darkolivegreen;
    padding-left: 50px;
    transform: scale(0.9);
  }
}
@media (min-width: 992px) {
  .arrayanes__div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    padding-left: 50px;
  }
  .lago__div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    padding-left: 50px;
  }
  .arrayanes__title {
    font-size: 20px;
    color: darkolivegreen;
    padding-left: 30px;
  }
  .arrayanes__title:hover {
    font-size: 20px;
    color: darkolivegreen;
    padding-left: 50px;
    transform: scale(0.9);
  }
}
.redes {
  padding: 10px;
}
.redes__title {
  font-size: 1.5rem;
}
.redes__iconos {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.redes__iconos:hover {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  transform: scale(1.4);
  animation-duration: 3s;
}

@media (min-width: 1200px) {
  .arrayanes__div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-left: 30px;
  }
  .lago__div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    padding-left: 30px;
  }
  .arrayanes__title {
    font-size: 20px;
    color: darkolivegreen;
    padding-left: 30px;
  }
  .arrayanes__title:hover {
    font-size: 20px;
    color: darkolivegreen;
    padding-left: 30px;
    transform: scale(0.9);
  }
  .centro__img {
    width: 350px;
    height: 250px;
  }
  .arrayanes__img {
    width: 350px;
    height: 250px;
  }
  .arrayanes__p {
    font-size: 20px;
  }
}
@media (min-width: 1400px) {
  .arrayanes__div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-left: 30px;
  }
  .lago__div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    padding-left: 30px;
  }
  .arrayanes__title {
    font-size: 20px;
    color: darkolivegreen;
    padding-left: 30px;
  }
  .arrayanes__title:hover {
    font-size: 20px;
    color: darkolivegreen;
    padding-left: 30px;
    transform: scale(0.9);
  }
  .centro__img {
    width: 350px;
    height: 250px;
  }
  .arrayanes__img {
    width: 350px;
    height: 250px;
  }
  .arrayanes__p {
    font-size: 20px;
  }
}
.videos {
  background-color: #d9d9d9;
}
.videos__title {
  font-size: 20px;
  color: #343a40;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 15px;
  padding-bottom: 40px;
}
.videos__div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.videos__video {
  width: 400px;
  height: 300px;
  padding-bottom: 50px;
}

/* playlist */
.playlist {
  background-color: #d9d9d9;
  padding-bottom: 40px;
}
.playlist__title {
  color: #457b9d;
  font-size: 35px;
  padding-left: 15px;
  padding-bottom: 15px;
}
.playlist__title:hover {
  color: #457b9d;
  font-size: 35px;
  padding-left: 15px;
  padding-bottom: 15px;
  transform: scale(1.2);
}
.playlist__p {
  font-size: 20px;
  color: #343a40;
  padding-left: 30px;
  padding-bottom: 30px;
}
.playlist__div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.playlist__iframe {
  width: 60%;
  height: 400px;
}

@media (min-width: 992px) {
  .playlist {
    background-color: #d9d9d9;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .playlist__iframe {
    width: 75%;
    height: 300px;
  }
  .videos__video {
    width: 400px;
    height: 450px;
    padding-bottom: 50px;
  }
}
.redes {
  padding: 10px;
}
.redes__title {
  font-size: 1.5rem;
}
.redes__iconos {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.redes__iconos:hover {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  transform: scale(1.4);
  animation-duration: 3s;
}

/*# sourceMappingURL=styles.css.map */
