.lugares {
    background-color: $color-primario;

    &__title {
        font-size: 35px;
        padding: 10px;
        color: $color-secundario;
    }

    &__title:hover {
        font-size: 35px;
        padding: 10px;
        color: $color-secundario;
        transform: scale(1.2);
        animation-duration: $duration;
    }

    &__p {
        color: $color-cuarto;
        padding: 10px;
        padding-left: 30px;
        font-size: $title-size2;
    }

    &__div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

/* casa arrayanes */

.arrayanes {
    padding: 5px;

    &__title {
        font-size: $title-size2;
        color: $color-terciario;
        padding-left: 30px;
    }

    &__title:hover {
        font-size: $title-size2;
        color: $color-terciario;
        padding-left: 50px;
        transform: scale(1.2);
        animation-duration: $duration;
    }

    &__div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    &__p {
        color: $color-cuarto;
        padding-left: 10px;
    }

    &__img {
        width: 200px;
        height: 200px;
        border-radius: 15px;
        padding-bottom: 10px;
    }
}

.centro__img {
    width: 235px;
    height: 200px;
    border-radius: 15px;
    padding-bottom: 10px;
}


@media (min-width: 768px) {
    .arrayanes__div {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-left: 50px
    }

    .lago__div {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-left: 50px
    }

    .arrayanes__title {
        font-size: $title-size2;
        color: $color-terciario;
        padding-left: 30px;
    }

    .arrayanes__title:hover {
        font-size: $title-size2;
        color: $color-terciario;
        padding-left: 50px;
        transform: scale(0.9);

    }
}


@media (min-width: 992px) {
    .arrayanes__div {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-left: 50px
    }

    .lago__div {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-left: 50px
    }

    .arrayanes__title {
        font-size: $title-size2;
        color: $color-terciario;
        padding-left: 30px;
    }

    .arrayanes__title:hover {
        font-size: $title-size2;
        color: $color-terciario;
        padding-left: 50px;
        transform: scale(0.9);

    }
}

.redes {
    padding: 10px;

    &__title {
        font-size: 1.5rem
    }

    &__iconos {
        font-size: $title-size;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 70px;
    }

    &__iconos:hover {
        font-size: $title-size;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 70px;
        transform: scale(1.4);
        animation-duration: $duration;
    }
}