.videos {
    background-color: $color-primario;

    &__title {
        font-size: $title-size2;
        color: $color-cuarto;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 15px;
        padding-bottom: 40px;
    }

    &__div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    &__video {
        width: 400px;
        height: 300px;
        padding-bottom: 50px;
    }
}

/* playlist */

.playlist {
    background-color: $color-primario;
    padding-bottom: 40px;

    &__title {
        color: $color-secundario;
        font-size: 35px;
        padding-left: 15px;
        padding-bottom: 15px;
    }

    &__title:hover {
        color: $color-secundario;
        font-size: 35px;
        padding-left: 15px;
        padding-bottom: 15px;
        transform: scale(1.2);
    }

    &__p {
        font-size: $title-size2;
        color: $color-cuarto;
        padding-left: 30px;
        padding-bottom: 30px;
    }

    &__div {
        @include flex-center();
    }

    &__iframe {
        width: 60%;
        height: 400px;
    }
}


@media (min-width: 992px) {

    .playlist {
        background-color:$color-primario;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .playlist__iframe {
        width: 75%;
        height: 300px;
    }

    .videos__video {
        width: 400px;
        height: 450px;
        padding-bottom: 50px;
    }
}

.redes {
    padding: 10px;

    &__title {
        font-size: 1.5rem
    }
    
    &__iconos {
        font-size: $title-size;
        @include flex-center();
        gap: 70px;
    }
    
    &__iconos:hover {
        font-size: $title-size;
        @include flex-center();
        gap: 70px;
        transform: scale(1.4);
        animation-duration: $duration;
    }
}