.umain {
    height: 100vh;
    background-image: url(../img/imgsanma.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include flex-center();

    &__texto {
        font-size: $title-size;
        text-align: center;
        color: rgba(0, 0, 0, 0.614);
    }

    &__texto:hover {
        font-size: $title-size;
        text-align: center;
        color: rgba(0, 0, 0, 0.614);
        transform: scale(1.2);
        animation-duration: $duration;
    }

}

/* INFORMACION */

.informacion {
    background-color: $color-primario;

    &__title {
        display: flex;
        justify-content: center;
        font-size: $title-size1;
        font-weight: bolder;
        color: $color-secundario;
    }

    &__title:hover {
        display: flex;
        justify-content: center;
        font-size: $title-size1;
        font-weight: bolder;
        color: $color-secundario;
        transform: scale(1.3);
        animation-duration: $duration;
    }

}

/* imagenes */

.slider {
    padding: 15px;
    display: grid;

    &__img {
        width: 130px;
        height: 130px;
        border-radius: 15px;
        box-shadow: $shadow;
    }

}

/* informacion escrita */

.texto {
    @include flex-center();
    flex-direction: column;
    gap: 10px;

    &__title {
        font-size: 25px;
        color: $color-terciario;
    }

    &__title:hover {
        font-size: 25px;
        color: $color-terciario;
        transform: scale(1.1);
        animation-duration: $duration;
    }

    &__li {
        font-size: 15px;
        padding-left: 10px;
        padding-top: 15px;
        color: $color-cuarto;
        display: flex;
        align-items: center;
    }
}

/* ubicacion */

.ubicacion {
    padding-top: 30px;

    &__title {
        display: flex;
        justify-content: center;
        font-size: $title-size1;
        font-weight: bolder;
        padding: 15px;
        color: $color-secundario;
    }

    &__title:hover {
        display: flex;
        justify-content: center;
        font-size: $title-size1;
        font-weight: bolder;
        padding: 15px;
        color: $color-secundario;
        transform: scale(1.3);
        animation-duration: $duration;
    }

    &__p {
        display: flex;
        justify-content: center;
        font-size: 20px;
        padding-bottom: 15px;
        color: $color-cuarto;
    }

    &__mapa {
        width: 100%;
        height: 35vh;
        border: 0;
    }
}

/* complejo */

.complejo {
    padding: 5px;

    &__title {
        font-size: $title-size1;
        @include flex-center();
        padding-bottom: 10px;
        color: $color-secundario;
    }

    &__title:hover {
        font-size: $title-size1;
        @include flex-center();
        padding-bottom: 10px;
        color: $color-secundario;
        transform: scale(1.3);
        animation-duration: $duration;
    }

    &__p {
        padding: 5px;
        font-size: 25px;
        @include flex-center();
        color: $color-cuarto;
    }

    &__div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        gap: 10px;
        padding-bottom: 30px;
        padding-top: 20px;
    }

    &__img {
        width: 150px;
        height: 180px;
        border-radius: 15px;
        box-shadow: $shadow;
    }
}

.redes {
    padding: 10px;

    &__title {
        font-size: 1.5rem
    }

    &__iconos {
        font-size: $title-size;
        @include flex-center();
        gap: 70px;
    }

    &__iconos:hover {
        font-size: $title-size;
        @include flex-center();
        gap: 70px;
        transform: scale(1.4);
        animation-duration: $duration;
    }
}

@media (min-width: 768px) {
    .slider__img {
        width: 250px;
        height: 250px;
        border-radius: 15px;
        box-shadow: 0px 5px 5px;
    }


    .ubicacion__div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .ubicacion__mapa {
        padding-left: 15px;
        padding-bottom: 15px;
        width: 650px;
    }

    .complejo__div1 {
        @include flex-center();
    }

    .complejo__div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        width: 300px;
    }

    .complejo__p {
        padding: 5px;
        font-size: 20px;
        @include flex-center();
        color: $color-cuarto;
    }

    .complejo__img {
        width: 150px;
        height: 150px;
        border-radius: 15px;
    }
}


@media (min-width: 992px) {
    .slider__img {
        width: 300px;
        height: 300px;
        border-radius: 15px;
        box-shadow: 0px 5px 5px;
    }

    .texto {
        display: flex;
        flex-direction: row;
    }

    .ubicacion__div {
        @include flex-center();
        flex-direction: row-reverse;
        gap: 10px;
    }

    .ubicacion__mapa {
        padding-left: 15px;
        padding-bottom: 15px;
        width: 650px;
    }

    .complejo__div1 {
        @include flex-center();
    }

    .complejo__div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        width: 300px;
    }

    .complejo__p {
        padding: 5px;
        font-size: 20px;
        @include flex-center();
        color: $color-cuarto;
    }

    .complejo__img {
        width: 150px;
        height: 150px;
        border-radius: 15px;

    }
}

